@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.css");

/* navbar css */

.navbar{
  justify-content: center;
}

/* home style css */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Lato", sans-serif;
}


* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	font-family: "Poppins", sans-serif;
}

.body-home {
	/* display: flex; */
	background: #000;
	min-height: 100vh;
	min-width: 100vw;
  overflow: inherit;
	/* align-items: center; */
	/* justify-content: center; */
}

.content {
	position: relative;
  display: flex;
  /* align-items: center; */
  padding: 30px;
  justify-content: center;
}

.content h2 {
  text-align: center;
  color: #fff;
	font-size: 5em;
	position: absolute;
	/* transform: translate(70%, 50%); */
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
	color: #c19bf5;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.bg__gradient {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, #eb3434, #eb5e34, #eb8334, #eba434, #ebcc34, #ebeb34, #c3eb34, #89eb34, #58eb34, #34eb52, #34ebcc, #34d5eb, #34a8eb, #346beb, #3734eb, #7734eb, #a834eb, #eb34c3, #eb3489, #eb3461);
  filter: blur(500px);
  border-radius: 100%;
  background-size: 1000% 100%;
  
  animation: gradient 10s infinite ease-out;
  
  position: absolute;
  
  z-index: 0
}

@keyframes gradient {
  0%{background-position:0% 50%}
  100%{background-position:100% 100%}
}

/* https://www.youtube.com/watch?v=DVkKJvEw6Gw */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 120px 0 120px;
}

.card-project{
      /* display: flex; */
      justify-content: center;
      align-items: center;
      height: 250px;
      width: 400px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    /* background-image: url("https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80"); */
    background-size: cover;
    display: flex;
  position: relative;
    cursor: pointer;
}

.card-project img{
  position: absolute;
  height: 250px;
  width: 400px;
}

.content-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  text-align: center;
  z-index: 1;
    background-color: rgba(31, 31, 31, 0.85);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.content-card *{
    transform: translateY(-70%);
    transition: all 0.3s ease;
    opacity: 0;
}

.content-card h4{
    font-weight: 700;
}

.content-card button{
  cursor: pointer;
  padding: 10px 20px;
}

.card-project:hover .content-card{
    opacity: 0.7;
}

.card-project:hover .content-card *{
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 1500px) {
  .cards{
  justify-content: space-around;
  }
}

@media only screen and (max-width: 700px) {
  .cards{
    padding-top: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .card-project img{
    position: absolute;
    height: 200px;
    width: 250px;
  }

  .content-card{
    padding: 0 10%;
  }
  
  .content h2{
    font-size: 4em;
  }

  /* @keyframes animate {
    0%,
    100% {
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 50.00%, 2.00% 41.26%, 4.00% 32.82%, 6.00% 24.99%, 8.00% 18.05%, 10.00% 12.25%, 12.00% 7.77%, 14.00% 4.80%, 16.00% 3.43%, 18.00% 3.70%, 20.00% 5.62%, 22.00% 9.11%, 24.00% 14.04%, 26.00% 20.25%, 28.00% 27.52%, 30.00% 35.58%, 32.00% 44.15%, 34.00% 52.93%, 36.00% 61.61%, 38.00% 69.87%, 40.00% 77.43%, 42.00% 84.02%, 44.00% 89.40%, 46.00% 93.39%, 48.00% 95.84%, 50.00% 96.67%, 52.00% 95.84%, 54.00% 93.39%, 56.00% 89.40%, 58.00% 84.02%, 60.00% 77.43%, 62.00% 69.87%, 64.00% 61.61%, 66.00% 52.93%, 68.00% 44.15%, 70.00% 35.58%, 72.00% 27.52%, 74.00% 20.25%, 76.00% 14.04%, 78.00% 9.11%, 80.00% 5.62%, 82.00% 3.70%, 84.00% 3.43%, 86.00% 4.80%, 88.00% 7.77%, 90.00% 12.25%, 92.00% 18.05%, 94.00% 24.99%, 96.00% 32.82%, 98.00% 41.26%, 100.00% 50.00%);
    }
  
    50% {
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 96.67%, 2.00% 95.84%, 4.00% 93.39%, 6.00% 89.40%, 8.00% 84.02%, 10.00% 77.43%, 12.00% 69.87%, 14.00% 61.61%, 16.00% 52.93%, 18.00% 44.15%, 20.00% 35.58%, 22.00% 27.52%, 24.00% 20.25%, 26.00% 14.04%, 28.00% 9.11%, 30.00% 5.62%, 32.00% 3.70%, 34.00% 3.43%, 36.00% 4.80%, 38.00% 7.77%, 40.00% 12.25%, 42.00% 18.05%, 44.00% 24.99%, 46.00% 32.82%, 48.00% 41.26%, 50.00% 50.00%, 52.00% 58.74%, 54.00% 67.18%, 56.00% 75.01%, 58.00% 81.95%, 60.00% 87.75%, 62.00% 92.23%, 64.00% 95.20%, 66.00% 96.57%, 68.00% 96.30%, 70.00% 94.38%, 72.00% 90.89%, 74.00% 85.96%, 76.00% 79.75%, 78.00% 72.48%, 80.00% 64.42%, 82.00% 55.85%, 84.00% 47.07%, 86.00% 38.39%, 88.00% 30.13%, 90.00% 22.57%, 92.00% 15.98%, 94.00% 10.60%, 96.00% 6.61%, 98.00% 4.16%, 100.00% 3.33%);  
    }*/

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 23.65%, 1.00% 25.45%, 2.00% 27.58%, 3.00% 30.00%, 4.00% 32.67%, 5.00% 35.56%, 6.00% 38.61%, 7.00% 41.78%, 8.00% 45.02%, 9.00% 48.28%, 10.00% 51.50%, 11.00% 54.64%, 12.00% 57.64%, 13.00% 60.46%, 14.00% 63.06%, 15.00% 65.38%, 16.00% 67.41%, 17.00% 69.09%, 18.00% 70.42%, 19.00% 71.36%, 20.00% 71.90%, 21.00% 72.04%, 22.00% 71.77%, 23.00% 71.09%, 24.00% 70.02%, 25.00% 68.57%, 26.00% 66.77%, 27.00% 64.64%, 28.00% 62.22%, 29.00% 59.55%, 30.00% 56.66%, 31.00% 53.61%, 32.00% 50.43%, 33.00% 47.20%, 34.00% 43.94%, 35.00% 40.72%, 36.00% 37.58%, 37.00% 34.58%, 38.00% 31.76%, 39.00% 29.16%, 40.00% 26.83%, 41.00% 24.81%, 42.00% 23.12%, 43.00% 21.80%, 44.00% 20.86%, 45.00% 20.31%, 46.00% 20.18%, 47.00% 20.45%, 48.00% 21.13%, 49.00% 22.20%, 50.00% 23.65%, 51.00% 25.45%, 52.00% 27.58%, 53.00% 30.00%, 54.00% 32.67%, 55.00% 35.56%, 56.00% 38.61%, 57.00% 41.78%, 58.00% 45.02%, 59.00% 48.28%, 60.00% 51.50%, 100% 100%,
			0% 100%);
    }
  
    50% {
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 50.90%, 1.00% 54.27%, 2.00% 57.49%, 3.00% 60.50%, 4.00% 63.25%, 5.00% 65.68%, 6.00% 67.74%, 7.00% 69.40%, 8.00% 70.62%, 9.00% 71.39%, 10.00% 71.67%, 11.00% 71.48%, 12.00% 70.81%, 13.00% 69.68%, 14.00% 68.11%, 15.00% 66.13%, 16.00% 63.77%, 17.00% 61.08%, 18.00% 58.12%, 19.00% 54.93%, 20.00% 51.59%, 21.00% 48.15%, 22.00% 44.67%, 23.00% 41.24%, 24.00% 37.90%, 25.00% 34.73%, 26.00% 31.78%, 27.00% 29.12%, 28.00% 26.78%, 29.00% 24.83%, 30.00% 23.28%, 31.00% 22.19%, 32.00% 21.55%, 33.00% 21.39%, 34.00% 21.72%, 35.00% 22.51%, 36.00% 23.77%, 37.00% 25.45%, 38.00% 27.54%, 39.00% 30.00%, 40.00% 32.76%, 41.00% 35.79%, 42.00% 39.03%, 43.00% 42.41%, 44.00% 45.86%, 45.00% 49.33%, 46.00% 52.75%, 47.00% 56.05%, 48.00% 59.16%, 49.00% 62.04%, 50.00% 64.62%, 51.00% 66.85%, 52.00% 68.70%, 53.00% 70.12%, 54.00% 71.10%, 55.00% 71.60%, 56.00% 71.63%, 57.00% 71.18%, 58.00% 70.25%, 59.00% 68.88%, 60.00% 67.08%, 100% 100%,
			0% 100%);
  }
}
}


/* Hooks css */

.center_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #060505;
}

.button {
  border: 2px solid #d2bdff;
  height: 80px;
  width: 200px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 25px;
}

.button::after {
  content: "HOVER ME";
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%);
  color: #d2bdff;
  transition: all 0.1s linear;
}

.button::before {
  content: "";
  position: relative;
  display: block;
  height: 15px;
  width: 15px;
  background: #d2bdff;
  box-shadow: 0px 0px 10px 3px #0ff;
  margin-left: -8px;
  margin-top: -8px;
  opacity: 0;
  transition: all 0.1s linear;
  border-radius: 100%;
  animation: star 1.3s linear infinite;
}
@keyframes star {
  0% {
    margin-left: -8px;
    margin-top: -8px;
  }
  25% {
    margin-left: 194px;
    margin-top: -8px;
  }
  50% {
    margin-left: 194px;
    margin-top: 75px;
  }
  75% {
    margin-left: -8px;
    margin-top: 75px;
  }
  100% {
    margin-left: -8px;
    margin-top: -8px;
  }
}

.button:hover::before {
  opacity: 1;
  animation: star 1.3s linear infinite;
}

.button:hover::after {
  content: "I'M GLOWING";
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}

.button2 {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
  cursor: pointer;
}

.button2:hover {
  border: 1px solid transparent;
}

.button2:hover::after {
  content: " By Click";
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}

.button2:hover span {
  position: absolute;
  display: block;
}

.button2:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.button2:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.button2:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}

.button2:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.para {
  color: #fff;
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

/* todo style css */

/* html, body, div, span,
h1, p, ul, li {
  
} */

.text{
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: #c4c4c4;
}

.body-todo {
  min-height: 100vh;
  background: #000267;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
  font-family: 'Lucida Grande', Verdana, sans-serif;
}

ol, ul {
  list-style: none;
}

.btn {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: white;
  text-transform: capitalize;
  padding: 10px 0px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.btn span{
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.effect-3 {
  transition: all 0.2s linear 0s;
}

  .effect-3:before {
    content: attr(data-sm-link-text);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070adc;
    color: white;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s linear 0s;
  }
  
  .effect-3:hover {
    text-indent: -999px;
    
    &:before {
      top: 0;
      text-indent: 0;
    }
  }


.app-title {
  font-size: 17px;
  line-height: 10px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.8px;
}

.app-title img{
  margin-top: 50px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  height: 120px;
  width: 80px;
}

.todo-input{
  position: relative;
  display: inline;
}

.todo-input input {
    padding: 7px 5px;
    width: 300px;
    font-size: 15px;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    line-height: 20px;
    border: solid 1px #dddddd;
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .form-control{
    display: inline-block;
  }

  .add-btn {
   /* display: flex;
   justify-content: flex-end; */
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
    color: #000;
    font-size: 16px;
  }

  /* .ShowItems {
    display: flex;
    justify-content: space-between;
  } */
  
  .eachItem{
    position: relative;
    background-color: #070adc;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 5px;
    width: 300px;
    text-align: start;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    border-radius: 5px;
    flex-grow: 1;
  }

  .eachItem:hover{
    background-color: white;
  }
  
  .eachItem:hover h3{
    color: #000;
  }

  .eachItem h3{
    font-size: 15px;
    display: inline;
    margin-left: 2px;
  }

  .todo-btn{
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    color: #000;
    font-size: 16px;
  }

  .todo-btn i:nth-child(1){
    margin-right: 8px;
  }

/* restaurent css */
  
  .body-restaurant {
    background: #faf7f2;
    background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .subtle {
    color: #aaa;
  }
  
  .main-card--container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
  
  .card-container {
    margin: 25px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card-container img {
    max-width: 100%;
    height: 300px;
  }
  
  .card {
    min-height: 760px;
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    z-index: 1;
  }
  
  .card-body {
    display: inline-block;
  }
  
  .card-number {
    margin-top: 15px;
  }
  
  .card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
  }
  
  .card-author {
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  .card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
    border: 1px solid #aaa;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card-tag:hover {
    background: #aaa;
    color: black;
  }
  
  .card-media {
    max-width: 100%;
    height: auto;
  }
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
      0 0 100px 3px rgba(0, 0, 0, 0.25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
  }
  
  @media (max-width: 998px) {
    .main-card--container {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }
  
  /* ---------- Button styles ------------------ */
  
  .navbar {
    padding-top: 50px;
    text-align: center;
  }
  
  .navbar h1 {
    padding-bottom: 20px;
    text-transform: capitalize;
  }
  
  /** button group styles **/
  .btn-group {
    border-radius: 1rem;
    text-transform: capitalize;
  }
  .btn-group__item {
    border: none;
    /* min-width: 6rem; */
    padding: 1.5rem 3rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    box-shadow: inset 0px 0px 0px -15px rebeccapurple;
    transition: all 300ms ease-out;
    text-transform: capitalize;
  }
  .btn-group__item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .btn-group__item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .btn-group__item:hover,
  .btn-group__item:focus {
    color: rebeccapurple;
    box-shadow: inset 0px -20px 0px -15px rebeccapurple;
  }
  .btn-group__item:focus {
    outline: none;
  }
  .btn-group__item:after {
    content: "✔️";
    margin-left: 0.5rem;
    display: inline-block;
    color: rebeccapurple;
    position: absolute;
    transform: translatey(10px);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
    opacity: 1;
    transform: translatey(-2px);
  }

  
  /* wheather css */

.body-wheather{
    background: #292929e5;
    height: 100vh;
}

.search{
    padding-top: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.searchTerm{
    padding: 8px 15px;
    border-radius: 5px 0 0 5px;
    outline: 0;
    transition: all 0.3s linear 0s;
    border-right: none;
    border: 2px solid #fff;
}

.searchTerm:focus{
    border: 3px solid #0952c7;
    border-right: 0px;
}

.searchButton{
    cursor: pointer;
    padding: 10px 18px;
    background: #0952c7;
    border: none;
    border-radius: 0 5px 5px 0;
    border-top-left-radius: none;
}

.searchButton:hover{
    background: #0952c7cc;
}

.widget{
    margin: 5% auto;
    width: 35%;
    height: 35vh;
    background: #292929e5;
  box-shadow: 0px 0px 10px 10px #00000088;
  border-radius: 20px;
}

.weatherIcon{
    background-color: #fff;
    width: 100%;
    height: 50%;
  border-radius: 20px 20px 0 0;
  /* margin-bottom: 10px; */
}

.weatherIcon i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 80px;
    text-align: center;
}

.weatherInfo{
    display: inline-block;
    vertical-align: middle;
    background-color: #000;
    width: 70%;
    height: 45%;
    /* margin-top: 0.8rem; */
    padding-top: 15px;
}

.temperature , .description{
    display: inline-block;
   color: white;
   margin-left: 20px;
}

.temperature span{
   font-size: 60px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weatherCondition{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.date{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 45%;
  font-size: 15px;
  font-weight: bold;
  padding: 30px 10px;
    background-color: #0fa1d5;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.extra-temp{
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 30%;
  border-radius: 0 0 20px 20px;
    padding: 20px;
  margin-bottom: 10px;
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.temp-info-minmax{
    display: inline-block;
}

.two-slided-section p:nth-child(1){
    display: inline-block;
    text-align: center;
  }
  
  .two-slided-section p i{
    font-size: 30px;
    color: #0fa1d5;
}

.two-slided-section p:nth-child(2){
    display: inline-block;
    margin-left: 10px;
    /* text-align: center; */
}

/* error 404 not found css */

.body-error{
  text-align: center;
  font-family: sans-serif;
  background-color: #E7FFFF;
  height: 100vh;
}

.section{
  padding: 4rem 2rem;
}

.section .error{
  font-size: 150px;
  color: #008B62;
  text-shadow: 
    1px 1px 1px #00593E,    
    2px 2px 1px #00593E,
    3px 3px 1px #00593E,
    4px 4px 1px #00593E,
    5px 5px 1px #00593E,
    6px 6px 1px #00593E,
    7px 7px 1px #00593E,
    8px 8px 1px #00593E,
    25px 25px 8px rgba(0,0,0, 0.2);
}

.page{
  margin: 2rem 0;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.back-home{
  display: inline-block;
  border: 2px solid #222;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1rem 0.6rem;
  transition: all 0.2s linear;
  box-shadow: 0 3px 8px rgba(0,0,0, 0.3);
}
.back-home:hover{
  background: #222;
  color: #ddd;
  text-decoration: none;

}